.home {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.home__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 52rem;
  min-width: 20rem;
}

.home__container .home__txt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home__txt p {
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-text);
}

.home__link a {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  color: var(--color-branco);
  background-color: var(--color-button);
  transition: all 0.2s;
}

.home__logo img {
  display: block;
  height: 130px;
}

@media (min-width: 768px) {
  .home::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../img/img-background/background-home.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }

  .home__container {
    max-width: 42rem;
  }

  .home__txt p {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }

  .home__container {
    max-width: 42rem;
  }

  .home__txt p {
    font-size: 1.2rem;
    text-align: start;
  }

  .home__logo img {
    display: block;
    height: 250px;
  }
}

@media (min-width: 1280px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }

  .home__container {
    max-width: 42rem;
  }

  .home__txt p {
    font-size: 1.3rem;
    text-align: start;
  }

  .home__logo img {
    display: block;
    height: 300px;
  }

  .home__link a:hover {
    box-shadow: 0 0 8px var(--color-button);
  }
}
