.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.products .card__container {
  padding-block: 5rem;
}

.products .card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.products .card__article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.products .card__image {
  position: relative;
  text-align: center;
  padding-top: 1.25rem;
  margin-bottom: -0.75rem;
  background-color: transparent;
}

.products .card__data {
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  z-index: 10;
  background-color: var(--color-cinza-escuro);
}

.products .card__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  z-index: 5;
}

.products .card__shadow {
  display: none;
}

.products .card__name {
  margin-bottom: 0.75rem;
}

.products .swiper {
  width: 100%;
  height: 100%;
}

.products .swiper-button-prev::after,
.products .swiper-button-next::after {
  display: none;
}

.products .swiper-button-prev i,
.products .swiper-button-next i {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--color-button);
  display: block;
}

.products .swiper-button-prev {
  left: 0;
}

.products .swiper-button-next {
  right: 0;
}

.products .bxs-chevron-left {
  margin-right: 0.5rem;
}

.products .bxs-chevron-right {
  margin-left: 0.5rem;
}

.products p {
  margin-bottom: 1rem;
}

.products .card__article .card__data a {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--color-button);
  color: var(--color-branco);
}

/* Responsividade */

/* Telas pequenas */
@media (max-width: 360px) {
  .products .card__data {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .products .card__content {
    margin-inline: 3rem;
  }

  .products .swiper-button-next i,
  .products .swiper-button-prev i {
    display: block;
  }
}

@media (min-width: 1120px) {
  .products .card__container {
    max-width: 1120px;
  }
}
